.app {
  &__inner {
    display: flex;
  }

  &__content {
    max-width: 470px;
    margin-right: 130px;

    @include r($pc) {
      margin-right: 80px;
    }

    @include r($tb-2) {
      margin-right: 80px;
      max-width: 100%;
    }

    @include r($ph) {
      margin-right: 0;
    }
  }

  &__title {
    text-align: left;
    margin: 44px 0;

    @include r($tb-2) {
      margin:0 0 15px;
    }

  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.5;

    @include r($tb-2) {
        font-size: 18px;
        margin-bottom: 25px;
      }

    @include r($ph) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__link {
    display: inline-block;
    height: 40px;
    border-radius: 7px;
    outline: 2px solid transparent;
    transition: outline-color 0.5s, opacity 0.5s;

    @include r($ph) {
      height: 44px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:focus {
      outline-color: $accent;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__img {
    @include r($tb-2) {
      display: none;
    }
  }
}