.app {
  &__inner {
    background-image: url('../images/get_app.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: 35vh;
    display: flex;
  }

  &__content {
    max-width: 470px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }

  &__title {
    text-align: left;
    padding: 40px 0 14px;
  }

  &__text {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  &__link {
    display: block;
    height: 40px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}