.top {
  padding-top: 157px;
  background-color: rgba(255, 122, 80, .1);

  @include r($tb-2) {
    padding-top: 130px
  }

  @include r($tb) {
    padding-top: 114px
  }

  @include r($ph) {
    padding-top: 73px
  }

  @media (max-width: 1200px) and (orientation: landscape) {
    padding-top: 85px;
  }
}