.features {
  &__inner {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    margin: 0 74px;
    height: 54vh;
    position: relative;

    @include r($pc) {
      margin: 0 40px;
    }

    @include r($ph) {
      margin: 0 5px;
      height: 462px;
    
    }


    @include r($tb-2) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(249, 250, 255, .85);
      }
    }
  }

  &__content {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
  }

  &__title,
  &__text,
  &__list {
    margin-bottom: 30px;
  }

  &__title {
    text-align: left;
  }

  &__text {
    line-height: 1.5;

    @include r($ph) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__list {
    @include r($ph) {
      margin-bottom: 20px;
    }
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    color: $title;
    padding-left: 64px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include r($tb-2) {
      font-size: 22px;
    }

    @include r($tb) {
      font-size: 20px;
    }

    @include r($ph) {
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__item-text {
    position: relative;

    &--timer::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      left: -63px;
      background-image: url('../images/standart-icon/timer-icon.svg');
    }

    &--delivery::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      left: -63px;
      background-image: url('../images/standart-icon/delivery-icon.svg');
    }

    &--restaurant::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      left: -63px;
      background-image: url('../images/standart-icon/restaurant-icon.svg');
    }
  }
}