.header {
  padding: 58px 0;
  position: fixed;
  max-width: 1200px;
  background-color: inherit;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;

  &::before {
    content: '';
    height: 160px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background-color: transparent;
    z-index: -1;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &--scroll {
    &::before {
      background-color: $silver-200;
      z-index: -1;
    }
  }

  &__user {
    display: flex;
  }

  &__icon {
    transition: stroke 0.5s;
  }

  &__btn {
    display: block;
    height: 44px;
    width: 44px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.5s, background-color 0.5s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:focus {
      border-color: rgba($accent, 0.7);
      background-color: rgba(255, 104, 56, 0.10);
    }

    &:hover {
      & .header__icon {
        stroke: #ffffff;
      }

      background-color: $accent;

      & .header__number {
        background-color: #ffffff;
        color: $accent;
      }
    }

    &:active {
      background: #FFF2ED;
    }

    & .header__icon {
      stroke-width: 1.5px;
      fill: transparent;
      stroke: $title;
    }
  }

  &__number {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $accent;
    top: 5px;
    right: 4px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    transition: color 0.5s, background-color 0.5s;
  }

}

.menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    margin-right: 52px;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    &.current {
      color: $accent;
    }

  }
}
