.header {
  padding: 58px 0;

  @include r($tb) {
    padding: 35px 0;
  }

  @include r($ph) {
    padding: 14px 0;
  }

  position: fixed;
  max-width: 1200px;
  background-color: inherit;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;

  &::before {
    content: '';
    height: 160px;

    @include r($tb) {
      height: 114px;
    }

    @include r($ph) {
      height: 73px;
    }

    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background-color: transparent;
    z-index: -1;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &--scroll {
    &::before {
      background-color: $silver-200;
      z-index: -1;
    }
  }

  &__user {
    display: flex;

    @include r($tb-2) {
      position: absolute;
      right: 90px;
    }

    @include r($tb) {
      right: 80px;
    }

    @include r($tb) {
      right: 69px;
    }
  }

  &__icon {
    transition: stroke 0.5s;
  }

  &__btn {
    display: block;
    height: 44px;
    width: 44px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.5s, background-color 0.5s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:focus {
      border-color: rgba($accent, 0.7);
      background-color: rgba(255, 104, 56, 0.10);
    }

    &:hover {
      & .header__icon {
        stroke: #ffffff;
      }

      background-color: $accent;

      & .header__number {
        background-color: #ffffff;
        color: $accent;
      }
    }

    &:active {
      background: #FFF2ED;
    }

    & .header__icon {
      stroke-width: 1.5px;
      fill: transparent;
      stroke: $title;
    }
  }

  &__number {
    position: absolute;
    width: 14px;
    height: 14px;

    @include r($ph) {
      top: 7px;
      right: 1px;
    }

    border-radius: 50%;
    background-color: $accent;
    top: 5px;
    right: 4px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    transition: color 0.5s,
    background-color 0.5s;
  }

}

.burger {
  display: none;
}

.menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include r($tb-2) {
    flex-direction: row-reverse;
  }

  &__list {
    display: flex;
    margin-right: 52px;

    @include r($tb-2) {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #7792E0;
      display: block;
      text-align: center;
      padding: 123px 0;
      z-index: 1;
      transform: translateY(-300%);
      transition: transform 1s cubic-bezier(0.24, 0.26, 0.75, 0.75);
    }
    .menu__list--active {
      transform: translateY(0);
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    &.current {
      color: $accent;
    }
  }

  @include r($tb-2) {
    .burger {
      width: 44px;
      height: 44px;
      position: relative;
      color: $title;
      display: block;
      z-index: 2;
      border-radius: 3px;
      transition: background-color 0.5s, box-shadow 0.5s;
    }

    .burger:focus {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    }

    .burger:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .burger__line {
      position: absolute;
      left: 17%;
      top: 53%;
      transform: translateY(-50%);
      width: 68%;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out;
    }

    .burger::before,
    .burger::after {
      content: "";
      position: absolute;
      left: 17%;
      width: 68%;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger::before {
      top: 12px;
    }

    .burger::after {
      top: calc(100% - 12px);
    }

    .burger--active .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    .burger--active::before {
      transform: rotate(45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger--active::after {
      transform: rotate(-45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  }

}

.logo {
  &__img {
    @include r($ph) {
      width: 116px;
      height: 23px;
    }
  }
}