.hero {
  padding-top: 160px;

  @include r($tb-2) {
      padding-top: 130px
    }

  @include r($tb) {
    padding-top: 114px
  }

  @include r($ph) {
    padding-top: 73px
  }

  &__wrapper {

    @include r($ph) {
      background-size: 256px 294px;
    }

    display: flex;
    align-items: center;
    position: relative;
    min-height: 662px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 550px 650px;

    @include r($pc) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(249, 250, 255, .85);
      }

    }

    @include r($ph) {
      min-height: 345px;
      background-size: 247px 294px;
    }
  }

  &__content {
    max-width: 476px;
    width: 100%;

    @include r($pc) {
      z-index: 10;
    }
  }

  &__title {
    font-size: 66px;
    font-weight: 500;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include r($tb-2) {
      font-size: 55px;
    }

    @include r($tb) {
      font-size: 50px;
    }

    @include r($ph) {
      font-size: 40px;
    }
  }

  &__subtitle {
    color: $accent;
    display: block;
  }

  &__text {
    margin: 0 7px 20px 0;
    line-height: 1.5;

    @include r($tb) {
      font-size: 18px;
    }

    @include r($ph) {
      font-size: 16px;
    }
  }

  &__btn {
    margin-right: 21px;
    display: inline-block;
  }

  &__link {
    @include r($ph) {
      font-size: 16px;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}