.recent {
  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding: 2px;
    @include r($ph) {
      padding: 2px 2px 45px;
    }
    

  }

  &__content-box {
    box-sizing: border-box;
  }

  &__title {
    @include r($ph) {
      font-size: 20px;
    }
  }

  &__pag {
    display: none;

    @include r($ph) {
      display: block;
    }
  }

  .button-next,
  .button-prev {

    position: inherit;
    margin: 0;
    z-index: 50;
    width: 40px;
    height: 40px;
    border: 3px solid $gray;
    outline: 2px solid transparent;
    border-radius: 50%;
    transition: outline-color 0.5s, background-color 0.5s, border-color 0.5s;

    @include r($ph) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:focus {
      outline-color: $accent;
    }

    &:hover {
      background-color: $bg-btn-hov;
      border-color: rgba(255, 104, 56, 0.50);

      & .slick-icon {
        fill: rgba(255, 104, 56, 0.50);
      }
    }

    &:active {
      background-color: $bg-btn-hov;
      border-color: transparent;

      & .slick-icon {
        fill: $accent;
      }
    }

    & .slick-icon {
      transition: fill 0.5s;
      fill: $gray;
      transform: translate(-5%, -5%);
    }

  }

  .swiper-button-disabled {
    border-color: $accent;

    .slick-icon {
      fill: $accent;
    }
  }

}

.swiper-pagination-bullet {
  border-radius: 50%;
  padding: 0;
  font-size: 0;
  background-color: $gray;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border-color .5s, background-color .5s;
  opacity: 1;

  &-active {
    background-color: $accent;
  }

  &:hover {
    background-color: $bg-btn-hov;
    border-color: rgba(255, 104, 56, .5);
  }

  &:focus {
    border-color: $accent;
  }

  &:active {
    background-color: rgba(255, 104, 56, .5);
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 94%;
}