.testimonials {
  &__nav {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2px;
  }


  &__inner {
    .swiper-pagination-bullets {

      @include r($ph) {
        display: none;
      }

      .swiper-pagination-bullet {

        &-active {
          background-color: $accent;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        border-radius: 50%;
        padding: 0;
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: $gray;
        border: 2px solid transparent;
        opacity: 1;
        transition: border-color 0.5s,
        background-color 0.5s;

        &:focus {
          border-color: $accent;
        }

        &:hover {
          background-color: #FFF2ED;
          border-color: rgba(255, 104, 56, 0.50);
        }

        &:active {
          background-color: rgba(255, 104, 56, 0.50);
        }


      }
    }

    .swiper-pagination {
      position: inherit;
      margin: 0 15px;
      width: inherit;
    }

    .button-next,
    .button-prev {

      position: inherit;
      margin: 0;
      z-index: 50;
      width: 40px;
      height: 40px;
      border: 3px solid $gray;
      outline: 2px solid transparent;
      border-radius: 50%;
      transition: outline-color 0.5s, background-color 0.5s, border-color 0.5s;

      @include r($ph) {
        position: absolute;
        top: 9%;
      }

      &:focus {
        outline-color: $accent;
      }

      &:hover {
        background-color: #FFF2ED;
        border-color: rgba(255, 104, 56, 0.50);

        & .slick-icon {
          fill: rgba(255, 104, 56, 0.50);
        }
      }

      &:active {
        background-color: #FFF2ED;
        border-color: transparent;

        & .slick-icon {
          fill: $accent;
        }
      }

      & .slick-icon {
        transition: fill 0.5s;
        fill: $gray;
        transform: translate(-5%, -5%);
      }
    }

    .swiper-button-disabled {
      border-color: $accent;

      .slick-icon {
        fill: $accent;
      }
    }

    .button-prev {

      @include r($ph) {
        left: 10%;
      }
    }


    .button-next {


      @include r($ph) {
        right: 10%;
      }
    }


  }



  &__avatar {
    border-radius: 50%;
    margin: 0 80px 25px 90px;

    @include r($pc) {
      margin: 0 80px 66px 20px;
    }

    @include r($tb-2) {
      margin: 0 0 30px;
      width: 225px;
      height: 225px;
    }

    @include r($tb) {
      width: 150px;
      height: 150px;
    }

    @include r($ph) {
      width: 100px;
      height: 100px;
    }
  }

  &__content {
    display: flex;

    @include r($pc) {
      justify-content: space-evenly;
    }

    @include r($tb-2) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__quote {
    max-width: 569px;
    margin-bottom: 45px;

    @include r($pc) {
        padding: 0px 42px;
      }

    @include r($tb-2) {
      margin-bottom: 0;
    }
    
  }

  &__text {
    max-width: 570px;
    width: 100%;
    font-style: italic;
    margin: 30px 0;
    line-height: 1.5;
    position: relative;
    z-index: 5;

    @include r($tb-2) {
      margin: 0 0 20px 0;
      font-size: 18px;
    }

    @include r($tb) {
      margin: 0 0 10px 0;
      font-size: 16px;
      max-width: 455px;
    }

    @include r($ph) {
      font-size: 14px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 19px;
      top: 0;
      bottom: 0;
      left: -40px;
      right: 0;
      background-image: url('../images/standart-icon/left-quotes.svg');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 10;

    }

    &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 19px;
      bottom: 0;
      right: -40px;
      background-image: url('../images/standart-icon/right-quotes.svg');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 10;
    }

  }

  &__name {
    display: block;
    margin-bottom: 15px;
    color: $accent;
    font-weight: 500;
    font-style: normal;

    @include r($tb) {
      font-size: 18px;
    }

    @include r($ph) {
      font-size: 16px;
    }
  }

  &__user-descript {
    font-size: 14px;
    display: block;
    color: $text;
    padding-top: 13px;
    font-weight: 300;

    @include r($ph) {
      padding-top: 10px;
    }
  }
}


