<section class="app section">
  <div class="container">
    <div class="app__inner">
      <div class="app__content">
        <h2 class="title app__title">
          Завантажте мобільний
          застосунок
        </h2>
        <p class="app__text">
          Ресторани, які ви любите - у ваших руках. Встановлюйте застосунок та замовляйте їжу в зручному місці в
          зручний час
        </p>
        <a class="app__link" href="#">
          <img class="app__icon" src="images/app_store.jpg" alt="картинка з додатком в app store" width="120"
            height="40">
        </a>
        <a class="app__link" href="#">
          <img class="app__icon" src="images/play_store.jpg" alt="картинка з додатком в google play" width="135"
            height="40">
        </a>
      </div>
      <img class="app__img" src="images/get_app.jpg" alt="картинка з додатком для смартфону" width="570" height="380">
    </div>
  </div>
</section>