<section class="catalog section">
  <div class="container">
    <div class="catalog__wrapper">
      <div class="catalog__top">
        <h2 class="title">
          Каталог продуктів
        </h2>
        <div class="catalog__selects">
          <form class="catalog__form">
          <select class="catalog__name catalog__style">
            <option value="1">За назвою</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
          </select>
          <select class="catalog__number catalog__style">
            <option value="">по 12</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
          </select>
          </form>
        </div>
      </div>
      <div class="catalog__inner">
        <div class="catalog__filters">
          <div class="filter-criteria filter__block">
            <h3 class="filter__title">
              Категорії
            </h3>
            <ul class="filter-criteria__list">
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Бургери
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Піца
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Сендвічі
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Азійська кухня
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Сети
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Європейська кухня
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Напої
                </a>
              </li>
              <li class="filter-criteria__item">
                <a class="filter-criteria__link link" href="#">
                  Алкоголь
                </a>
              </li>
            </ul>
          </div>
          <div class="filter-suggestions filter__block">
            <h3 class="filter__title">
              Пропозиції
            </h3>
            <form class="filter-suggestions__form">
              <label class="filter-suggestions__label">
                <div class="filter-suggestions__box">
                  <input class="filter-suggestions__input" type="checkbox">
                  <span class="filter-suggestions__checkbox"></span>
                </div>
                <span class="filter-suggestions__text">
                  Зі знижкою
                </span>
              </label>
              <label class="filter-suggestions__label">
                <div class="filter-suggestions__box">
                  <input class="filter-suggestions__input" type="checkbox" checked>
                  <span class="filter-suggestions__checkbox"></span>
                </div>
                <span class="filter-suggestions__text">
                  Новинка
                </span>
              </label>
              <label class="filter-suggestions__label">
                <div class="filter-suggestions__box">
                  <input class="filter-suggestions__input" type="checkbox">
                  <span class="filter-suggestions__checkbox"></span>
                </div>
                <span class="filter-suggestions__text">
                  Хіт сезону
                </span>
              </label>
            </form>
          </div>

          <div class="filter-price filter__block">
            <h3 class="filter__title">
              Ціна
            </h3>
            <form class="filter-price__form">
              <div class="filter-price__box">
              <label class="filter-price__label">
                від
                <input class="filter-price__from" type="text" value="0">
                ₴
              </label>

              <label class="filter-price__label">
                до
                <input class="filter-price__to" type="text" value="0">
                ₴
              </label>
              </div>
              <label class="filter-price__value">
                <input class="filter-price__pricing" type="text" value="" data-min="50" data-from="100" data-to="1000" data-max="1150" >
              </label>
            </form>
          </div>
        </div>
        <div class="catalog__content">
          <ul class="catalog__list">
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-1.jpg" alt="чізбургер з листям салату" width="140"
                    height="140">
                </a>
                <h3 class="product-card__title">
                  Чізбургер з листям салату
                </h3>
                <span class="product-card__price">
                  160
                  <span class="currency">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-2.jpg" alt="біфбургер" width="140" height="140">
              </a>
              <h3 class="product-card__title">
                Біфбургер
              </h3>
              <span class="product-card__price">
                190
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
            </li>
            <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-3.jpg" alt="королівський чізбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Королівський чізбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
            </li>
            <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140" height="140">
              </a>
              <h3 class="product-card__title">
                Чорний гамбургер
              </h3>
              <span class="product-card__price">
                199
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-1.jpg" alt="чізбургер з листям салату" width="140"
                    height="140">
                </a>
                <h3 class="product-card__title">
                  Чізбургер з листям салату
                </h3>
                <span class="product-card__price">
                  160
                  <span class="currency">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-2.jpg" alt="біфбургер" width="140" height="140">
                </a>
                <h3 class="product-card__title">
                  Біфбургер
                </h3>
                <span class="product-card__price">
                  190
                  <span class="currently">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-3.jpg" alt="королівський чізбургер" width="140"
                    height="140">
                </a>
                <h3 class="product-card__title">
                  Королівський чізбургер
                </h3>
                <span class="product-card__price">
                  260
                  <span class="currently">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140" height="140">
                </a>
                <h3 class="product-card__title">
                  Чорний гамбургер
                </h3>
                <span class="product-card__price">
                  199
                  <span class="currently">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-1.jpg" alt="чізбургер з листям салату" width="140"
                    height="140">
                </a>
                <h3 class="product-card__title">
                  Чізбургер з листям салату
                </h3>
                <span class="product-card__price">
                  160
                  <span class="currency">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-2.jpg" alt="біфбургер" width="140" height="140">
                </a>
                <h3 class="product-card__title">
                  Біфбургер
                </h3>
                <span class="product-card__price">
                  190
                  <span class="currently">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-3.jpg" alt="королівський чізбургер" width="140"
                    height="140">
                </a>
                <h3 class="product-card__title">
                  Королівський чізбургер
                </h3>
                <span class="product-card__price">
                  260
                  <span class="currently">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
            <li class="catalog__item">
              <article class="product-card">
                <a class="product-card__link" href="#">
                  <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140" height="140">
                </a>
                <h3 class="product-card__title">
                  Чорний гамбургер
                </h3>
                <span class="product-card__price">
                  199
                  <span class="currently">
                    грн.
                  </span>
                </span>
                <button class="product-card__btn btn" type="button">
                  До кошика
                </button>
              </article>
            </li>
          </ul>
          <div class="pagination">
            <a class="pagination__arrow-prev" href="#">
            </a>
            <ul class="pagination__list">
              <li class="pagination__item">
                <a class="pagination__link pagination-current" href="#">1</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">2</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">...</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">9</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">10</a>
              </li>
            </ul>
            <a class="pagination__arrow-next" href="#">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>