<section class="description">
  <h1 class="sr-only">Сторінка товару</h1>
  <div class="container">
    <div class="modal modal--active">
      <div class="modal__main">
        <div class="modal__box">
          <button class="modal__btn" type="button">
            <svg class="modal__icon">
              <use xlink:href="images/sprite.svg#icon-popup-btn"></use>
            </svg>
          </button>
          <div class="swiper modal__slider">
            <button class="modal__btn-next" type="button">
              <svg class="modal__icon-next" width="19" height="32">
                <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
            <button class="modal__btn-prev" type="button">
              <svg class="modal__icon-prev" width="19" height="32">
                <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <div class="modal__wrapper swiper-wrapper">
              <div class="modal__slide swiper-slide">
                <div class="modal__slide-box">
                  <img class="modal__slide-img" src="images/content/product-burger.jpg" alt="Чизбургер" width="750"
                    height="750" />
                </div>
              </div>
              <div class="modal__slide swiper-slide">
                <div class="modal__slide-box">
                  <img class="modal__slide-img" src="images/content/product-burger.jpg" alt="Чизбургер" width="750"
                    height="750" />
                </div>
              </div>
              <div class="modal__slide swiper-slide">
                <div class="modal__slide-box">
                  <img class="modal__slide-img" src="images/content/product-burger.jpg" alt="Чизбургер" width="750"
                    height="750" />
                </div>
              </div>
            </div>
            
          </div>
          <div class="modal__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
    <article class="description__wrapper product">
      <div class="product__box swiper">
        <button class="product__btn-next" type="button">
          <svg class="product__swipe-icon" width="19" height="32">
            <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <button class="product__btn-prev" type="button">
          <svg class="product__swipe-icon" width="19" height="32">
            <use xlink:href="images/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <ul class="product__swiper swiper-wrapper">
          <li class="product__slide swiper-slide">
            <img class="product__img" src="images/content/product-burger.jpg" alt="чікен бургер" width="400"
              height="400">
          </li>
          <li class="product__slide swiper-slide">
            <img class="product__img" src="images/content/product-burger.jpg" alt="чікен бургер" width="400"
              height="400">
          </li>
          <li class="product__slide swiper-slide">
            <img class="product__img" src="images/content/product-burger.jpg" alt="чікен бургер" width="400"
              height="400">
          </li>
        </ul>
      </div>

      <div class="description__content">
        <h2 class="title description__title">
          Чізбургер з листям салату
        </h2>
        <div class="star" data-rateyo-rating="4"></div>
        <span class="description__price">
          160
          <span class="description__currency">
            грн.
          </span>
        </span>
        <form class="description__form" action="#">
          <label class="description__label">
            <input class="description__num" type="number" value="1" min="1">
          </label>
          <button class="description__btn btn" type="button">
            <svg class="description__icon" width="16" height="16">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            Додати до кошика
          </button>
        </form>
        <h3 class="description__delivery-title">
          Доставка та оплата
        </h3>
        <ul class="description__list">
          <li class="description__item">
            Мінімальна сума замовлення — 160 грн.
          </li>
          <li class="description__item">
            Час доставки замовлення — 80-140 мин.
          </li>
          <li class="description__item">
            Оплата здійснюється тільки банківською карткою.
          </li>
          <li class="description__item">
            Остаточна сума замовлення формується після збору товарів.
          </li>
        </ul>
        <a class="description__link link link--dicoration" href="#">Детальніше</a>
    </article>
  </div>
</section>