<section class="features section">
  <div class="container">
    <div class="features__inner" style="background-image: url('../images/food_delivery.png');">
      <div class="features__content">
        <h2 class="title features__title">
          Залишайтеся вдома, а ми
          потурбуємося про їжу
        </h2>
        <p class="features__text">
          У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою прямо зараз та
          отримайте
          знижку!
        </p>
        <ul class="features__list">
          <li class="features__item">
            <p class="features__item-text features__item-text--timer">
              Швидка доставка за 15 хвилин
            </p>
          </li>
          <li class="features__item">
            <p class="features__item-text features__item-text--delivery">
              Чемні кур’єри
            </p>
          </li>
          <li class="features__item">
            <p class="features__item-text features__item-text--restaurant">
              Більше 500 закладів
            </p>
          </li>
        </ul>
        <a class="features__btn btn btn--big" href="#">
          Детальніше
        </a>
      </div>
    </div>
  </div>
</section>