<section class="features section">
  <div class="container features__container" style="background-image: url('../images/food_delivery.png');">
      <div class="features__content">
        <h2 class="title features__title">
          Залишайтеся вдома, а ми
          потурбуємося про їжу
        </h2>
        <p class="features__text">
          У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою прямо зараз та
          отримайте
          знижку!
        </p>
        <ul class="features__list">
          <li class="features__item features__item--timer">
              Швидка доставка за 15 хвилин   
          </li>
          <li class="features__item features__item--delivery">      
              Чемні кур’єри
          </li>
          <li class="features__item features__item--restaurant">
              Більше 500 закладів
          </li>
        </ul>
        <a class="btn btn--big" href="#">
          Детальніше
        </a>
      </div>
    
  </div>
</section>