<div class="overlay"></div>
<nav class="mobile">
  <div class="mobile__top">
    <a class="logo mobile-logo" href="index.html">
      <img class="logo__img mobile-logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
    </a>
    <button class="close-btn" type="button">
      <span class="sr-only">Відкрити меню</span>
    </button>
  </div>
  <div class="mobile__menu">
    <ul class="mobile__list">
      <li class="mobile__item">
        <a class="mobile__link link @link1" href="index.html">
          Головна
        </a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link link @link2" href="catalog.html">
          Страви
        </a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link link" href="#contacts">
          Контакти
        </a>
      </li>
    </ul>
  </div>
  <div class="mobile-address">
    <address class="address">
      <ul class="address__list">
        <li class="address__item">
          <span class="address__geolocation">
            <svg class="address__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-location"></use>
            </svg>
            вул. Т.Г.Шевченка, 1
          </span>
        </li>
        <li class="address__item">
          <a class="address__link link" href="tel:+380501112233">
            <svg class="address__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-phone"></use>
            </svg>
            380501112233
          </a>
        </li>
        <li class="address__item">
          <a class="address__link link" href="mailto:support@sfood.com">
            <svg class="address__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-mail"></use>
            </svg>
            support@sfood.com
          </a>
        </li>
      </ul>
      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">посилання на фейсбук</span>
            <svg class="social__icon" width="21" height="21">
              <use xlink:href="images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">посилання на твітер</span>
            <svg class="social__icon" width="21" height="21">
              <use xlink:href="images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">посилання на інстаграм</span>
            <svg class="social__icon" width="21" height="21">
              <use xlink:href="images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</nav>
<header class="header">
  <div class="container header__container">
    <nav class="menu">
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Відкрити меню</span>
      </button>
      <a class="logo" href="index.html">
        <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link link @link1" href="index.html">
            Головна
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link @link2" href="catalog.html">
            Страви
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link menu__scroll" href="#contacts">
            Контакти
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__user">
      <button class="header__btn" type="button">
        <span class="sr-only">пошук товару</span>
        <svg class="header__icon" width="21" height="22">
          <use xlink:href="images/sprite.svg#icon-search"></use>
        </svg>
      </button>
      <button class="header__btn" type="button">
        <span class="sr-only">відкриття карзини товарів</span>
        <svg class="header__icon" width="21" height="22">
          <use xlink:href="images/sprite.svg#icon-cart"></use>
        </svg>
        <span class="header__number">
          4
        </span>
      </button>
    </div>
  </div>
</header>