<header class="header">
  <div class="container header__container">
    <nav class="menu">
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Відкрити меню</span>
      </button>
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="логотип">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link current link" href="#">
            Головна
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">
            Страви
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">
            Контакти
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__user">
      <button class="header__btn" type="button">
        <span class="sr-only">кнопка для пошуку товару</span>
        <svg class="header__icon" width="21" height="22">
          <use xlink:href="images/sprite.svg#icon-search"></use>
        </svg>
      </button>
      <button class="header__btn" type="button">
        <span class="sr-only">кнопка для відкриття карзини товарів</span>
        <svg class="header__icon" width="21" height="22">
          <use xlink:href="images/sprite.svg#icon-cart"></use>
        </svg>
        <span class="header__number">
          4
        </span>
      </button>
    </div>
  </div>
</header>