<section class="interection section">
  <div class="container interection__container">
    <div class="interection__top">
      <ul class="interection__list">
        <li class="interection__item">
          <a class="interection__link current" href="#description">
            Опис
          </a>
        </li>
        <li class="interection__item">
          <a class="interection__link" href="#characteristics">
            Характеристики
          </a>
        </li>
        <li class="interection__item">
          <a class="interection__link" href="#reviews">
            Відгуки (2)
          </a>
        </li>
      </ul>
    </div>
    <div class="interection__content">
      <div class="interection__content-item interection__content-item--active" id="description">
        <p class="interection__content-text">
          Рубаний біфштекс із натуральної яловичини на карамелізованій булочці, зі скибочкою сиру "Чеддер", кетчупом,
          гірчицею,
          цибулею та маринованими огірочками.
        </p>
        <p class="interection__content-text">
          Алергени: глютен, молоко, гірчиця. Може містити сою, яйце, сліди кунжуту
        </p>
        <p class="interection__content-text">
          Зовнішній вигляд товару може відрізнятися від зображень, представлених на сайті.
        </p>
      </div>
      <div class="interection__content-item" id="characteristics">
        <ul class="interection__characteristics">
          <li class="interection__characteristics-item">
            <h3 class="interection__characteristics-title">
              Діаметр:
              <span class="interection__characteristics-span">20 см</span>
            </h3>
          </li>
          <li class="interection__characteristics-item">
            <h3 class="interection__characteristics-title">
              Вага:
              <span class="interection__characteristics-span">300 гр</span>
            </h3>
          </li>
          <li class="interection__characteristics-item">
            <h3 class="interection__characteristics-title">
              Калорійність (на 100г):
              <span class="interection__characteristics-span">295 ккал</span>
            </h3>
          </li>
          <li class="interection__characteristics-item">
            <h3 class="interection__characteristics-title">
              Термін зберігання:
              <span class="interection__characteristics-span">до 3 діб</span>
            </h3>
          </li>
        </ul>
      </div>
      <div class="interection__content-item" id="reviews">
        <div class="interection__reviews">
          <h3 class="interection__title">
            Думки наших клієнтів
          </h3>
          <blockquote class="interection__reviews-wrapper">
            <div class="interection__reviews-box">
              <div class="interection__reviews-inner">
                <img class="interection__reviews-avatar" src="images/reviews-avatar.jpg" alt="Андрій">
                <div class="interection__reviews-unite">
                  <h4 class="interection__reviews-name">Андрій</h4>
                  <time class="interection__reviews-date" datetime="2021-06-10" pubdate>10.06.2021</time>
                </div>
              </div>
              <div class="interection__reviews-rating" data-rateyo-rating="5">
              </div>
            </div>
            <p class="interection__reviews-text">
              Доставили швидко. Товар свіжий та дуже смачний, буду ще обов’язково куштувати!
            </p>
          </blockquote>
          <blockquote class="interection__reviews-wrapper ">
            <div class="interection__reviews-box">
              <div class="interection__reviews-inner">
                <img class="interection__reviews-avatar" src="images/reviews-avatar.jpg" alt="Катерина">
                <div class="interection__reviews-unite">
                  <h4 class="interection__reviews-name">Катерина Біла</h4>
                  <time class="interection__reviews-date" datetime="2021-06-07" pubdate>7.06.2021</time>
                </div>
              </div>
              <div class="interection__reviews-rating" data-rateyo-rating="4">
              </div>
            </div>
            <p class="interection__reviews-text">
              Цей бургер непоганий на смак, особливо, коли немає можливості або часу щось готувати. Це чудовий варіант,
              щоб перекусити
              находу, але, щоб себе побалувати, краще замовлю піцу
            </p>
          </blockquote>
        </div>
        <div class="interection__comment">
          <h3 class="interection__title">
            Залишити відгук
          </h3>
          <form action="" class="interection__form">
            <div class="interection__form-inner">
              <p class="interection__form-text">
                Ваша оцінка *
              </p>
              <div class="interection__reviews-rating" data-rateyo-read-only="false"></div>
            </div>
            <div class="interection__form-labels">
              <label class="interection__form-label">
                <span class="interection__form-span">Ваш відгук *</span>
                <textarea class="interection__form-area style" name="area"
                  placeholder="Введіть текст відгука" required></textarea>
              </label>
              <div class="interection__form-inputs">
                <label class="interection__form-label">
                  <span class="interection__form-span">Ім’я</span>
                  <input class="interection__form-input style" type="text" placeholder="Введіть ваше ім’я" required>
                </label>
                <label class="interection__form-label">
                  <span class="interection__form-span">Email *</span>
                  <input class="interection__form-input style" type="email" placeholder="youremail@mail.com" required>
                </label>
              </div>
            </div>
            <label class="interection__form-label">
              <input class="filter-suggestions__input" type="checkbox">
              <span class="filter-suggestions__checkbox"></span>
              <span class="interection__form-descript">
                Зберегти моє ім’я, email та адресу сайта в цьому браузері для наступних моїх коментарів.
              </span>
            </label>
            <button class="btn btn--product" type="submit">Залишити відгук</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>