<section class="popular section">
  <div class="container">
    <h2 class="title">
      Популярне в категоріях
    </h2>
    <ul class="filter">
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter="all">
          <svg class="filter__icon" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургери
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter=".category-pizza">
          <svg class="filter__icon" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Піца
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter=".category-sandwiches">
          <svg class="filter__icon" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-sandwich"></use>
          </svg>
          Сендвічі
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter=".category-asian">
          <svg class="filter__icon" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-asian-dinner"></use>
          </svg>
          Азійська кухня
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" type="button" data-filter=".category-sets">
          <svg class="filter__icon" width="44" height="44">
            <use xlink:href="images/sprite.svg#icon-sets"></use>
          </svg>
          Cети
        </button>
      </li>
    </ul>
    <ul class="popular__list">
      <li class="popular__item mix all category-pizza">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-1.jpg" alt="чізбургер з листям салату" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Чізбургер з листям салату
          </h3>
          <span class="product-card__price">
            160
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>

      <li class="popular__item mix all">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-2.jpg" alt="біфбургер" width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Біфбургер
          </h3>
          <span class="product-card__price">
            190
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>

      <li class="popular__item mix all category-pizza">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-3.jpg" alt="королівський чізбургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Королівський чізбургер
          </h3>
          <span class="product-card__price">
            260
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>
      <li class="popular__item mix all category-asian">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Чорний гамбургер
          </h3>
          <span class="product-card__price">
            199
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>
      <li class="popular__item mix all category-sandwiches">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-5.jpg" alt="чікен бургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Чікен бургер
          </h3>
          <span class="product-card__price">
            180
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>

      <li class="popular__item mix all category-pizza">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-6.jpg" alt="чізбургер з листям салату" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Чізбургер з листям салату
          </h3>
          <span class="product-card__price">
            160
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>

      <li class="popular__item mix all category-sets">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-7.jpg" alt="біфбургер" width="140" height="140">
          </a>
          <h3 class="product-card__title">
            Біфбургер
          </h3>
          <span class="product-card__price">
            190
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>

      <li class="popular__item mix all category-pizza">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-8.jpg" alt="королівський чізбургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Королівський чізбургер
          </h3>
          <span class="product-card__price">
            260
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>

      <li class="popular__item mix all category-asian">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-9.jpg" alt="чорний гамбургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Чорний гамбургер
          </h3>
          <span class="product-card__price">
            199
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>
      <li class="popular__item mix all">
        <article class="product-card">
          <a class="product-card__link" href="product.html">
            <img class="product-card__img" src="images/content/burger-10.jpg" alt="чікен бургер" width="140"
              height="140">
          </a>
          <h3 class="product-card__title">
            Чікен бургер
          </h3>
          <span class="product-card__price">
            180
            <span class="currently">
              грн.
            </span>
          </span>
          <button class="product-card__btn btn" type="button">
            До кошика
          </button>
        </article>
      </li>
    </ul>
    <a class="popular__link link link--dicoration" href="#">
      Показати ще
    </a>
  </div>
</section>