<section class="recent section">
  <div class="container">
    <div class="recent__inner">
      <div class="recent__box">
        <h2 class="title recent__title">Вас може зацікавити</h2>
        <div class="recent__nav">
          <button class="button-prev">
            <span class="sr-only">попередній товар</span>
            <svg class="slick-icon" width="37" height="37">
              <use href="images/sprite.svg#icon-prev-arrow"></use>
            </svg>
          </button>
          <button class="button-next">
            <span class="sr-only">наступний товар</span>
            <svg class="slick-icon" width="37" height="37">
              <use href="images/sprite.svg#icon-next-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="recent__content swiper ">
        <ul class="recent__content-box swiper-wrapper">
          <li class="recent__item swiper-slide">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-1.jpg" alt="чізбургер з листям салату"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">
                Чізбургер з листям салату
              </h3>
              <span class="product-card__price">
                160
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-2.jpg" alt="біфбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Біфбургер
              </h3>
              <span class="product-card__price">
                190
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-3.jpg" alt="королівський чізбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">
                Королівський чізбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Чорний гамбургер
              </h3>
              <span class="product-card__price">
                199
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-5.jpg" alt="чікен бургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Чікен бургер
              </h3>
              <span class="product-card__price">
                180
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-1.jpg" alt="чізбургер з листям салату"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">
                Чізбургер з листям салату
              </h3>
              <span class="product-card__price">
                160
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide hidden">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-2.jpg" alt="біфбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Біфбургер
              </h3>
              <span class="product-card__price">
                190
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide hidden">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-3.jpg" alt="королівський чізбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__title">
                Королівський чізбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide hidden">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Чорний гамбургер
              </h3>
              <span class="product-card__price">
                199
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
          <li class="recent__item swiper-slide hidden">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/burger-4.jpg" alt="чорний гамбургер" width="140"
                  height="140">
              </a>
              <h3 class="product-card__title">
                Чорний гамбургер
              </h3>
              <span class="product-card__price">
                199
                <span class="currently">
                  грн.
                </span>
              </span>
              <button class="product-card__btn btn" type="button">
                До кошика
              </button>
            </article>
          </li>
        </ul>
        <div class="recent__pag swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>