<section class="restaurant section">
  <div class="container">
    <h2 class="title">
      Найкращі ресторани
    </h2>
    <ul class="restaurant__list">
      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="images/content/restaurant-1.jpg" alt="картинка з піццею" width="370"
              height="300">
          </a>
          <h3 class="restaurant-card__title">
            Blaze Pizza
          </h3>
          <span class="restaurant-card__time restaurant-card__time--clock">
            11:00 - 22:00
          </span>
          <a class="restaurant-card__btn btn btn--mini" href="#">
            <svg class="restaurant-card__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-restaurant-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="images/content/restaurant-2.jpg" alt="картинка з піццею" width="370"
              height="300">
          </a>
          <h3 class="restaurant-card__title">
            Pizza Runcho
          </h3>
          <span class="restaurant-card__time restaurant-card__time--clock">
            12:00 - 21:00
          </span>
          <a class="restaurant-card__btn btn btn--mini" href="#">
            <svg class="restaurant-card__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-restaurant-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="images/content/restaurant-3.jpg" alt="картинка з піццею" width="370"
              height="300">
          </a>
          <h3 class="restaurant-card__title">
            Pizza Hut
          </h3>
          <span class="restaurant-card__time restaurant-card__time--clock">
            11:00 - 22:00
          </span>
          <a class="restaurant-card__btn btn btn--mini" href="#">
            <svg class="restaurant-card__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-restaurant-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="images/content/restaurant-4.jpg" alt="картинка з піццею" width="370"
              height="300">
          </a>
          <h3 class="restaurant-card__title">
            McDonald`s
          </h3>
          <span class="restaurant-card__time restaurant-card__time--clock">
            06:00 - 23:00
          </span>
          <a class="restaurant-card__btn btn btn--mini" href="#">
            <svg class="restaurant-card__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-restaurant-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="images/content/restaurant-5.jpg" alt="картинка з піццею" width="370"
              height="300">
          </a>
          <h3 class="restaurant-card__title">
            KFC
          </h3>
          <span class="restaurant-card__time restaurant-card__time--clock">
            06:00 - 23:30
          </span>
          <a class="restaurant-card__btn btn btn--mini" href="#">
            <svg class="restaurant-card__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-restaurant-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="images/content/restaurant-6.jpg" alt="картинка з піццею" width="370"
              height="300">
          </a>
          <h3 class="restaurant-card__title">
            Star Burgers
          </h3>
          <span class="restaurant-card__time restaurant-card__time--clock">
            09:00 - 21:00
          </span>
          <a class="restaurant-card__btn btn btn--mini" href="#">
            <svg class="restaurant-card__icon" width="24" height="24">
              <use xlink:href="images/sprite.svg#icon-restaurant-arrow"></use>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>