<section class="testimonials section">
  <div class="container">
    <h2 class="title">
      Відгуки клієнтів
    </h2>
    <div class="swiper mySwiper testimonials__inner">
      <div class="swiper-wrapper">
        <div class=" swiper-slide testimonials__item">
          <div class="testimonials__content">
            <img class="testimonials__avatar" src="images/avatar.jpg" alt="Дарина" width="300" height="300">
            <blockquote class="testimonials__quote">
              <p class="testimonials__text">
                SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
                застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
                -
                однозначно
                рекомендую!
              </p>
              <cite class="testimonials__name">
                Дарина
                <span class="testimonials__user-descript">
                  Поціновувачка смачної їжі
                </span>
              </cite>
            </blockquote>
          </div>

        </div>
        <div class=" swiper-slide testimonials__item">
          <div class="testimonials__content">
            <img class="testimonials__avatar" src="images/avatar.jpg" alt="Дарина" width="300" height="300">
            <blockquote class="testimonials__quote">
              <p class="testimonials__text">
                SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
                застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
                -
                однозначно
                рекомендую!
              </p>
              <cite class="testimonials__name">
                Дарина
                <span class="testimonials__user-descript">
                  Поціновувачка смачної їжі
                </span>
              </cite>
            </blockquote>
          </div>

        </div>

        <div class="swiper-slide testimonials__item">
          <div class="testimonials__content">
            <img class="testimonials__avatar" src="images/avatar.jpg" alt="Дарина" width="300" height="300">
            <blockquote class="testimonials__quote">
              <p class="testimonials__text">
                SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
                застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
                -
                однозначно
                рекомендую!
              </p>
              <cite class="testimonials__name">
                Дарина
                <span class="testimonials__user-descript">
                  Поціновувачка смачної їжі
                </span>
              </cite>
            </blockquote>
          </div>

        </div>
        <div class="swiper-slide testimonials__item">
          <div class="testimonials__content">
            <img class="testimonials__avatar" src="images/avatar.jpg" alt="Дарина" width="300" height="300">
            <blockquote class="testimonials__quote">
              <p class="testimonials__text">
                SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
                застосунок. Їхні
                доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
                -
                однозначно
                рекомендую!
              </p>
              <cite class="testimonials__name">
                Дарина
                <span class="testimonials__user-descript">
                  Поціновувачка смачної їжі
                </span>
              </cite>

            </blockquote>
          </div>
          
        </div>

        
        
      </div>
      <div class="testimonials__nav">
        
        <button class="button-next">
          <span class="sr-only">наступний коментар</span>
          <svg class="slick-icon" width="37" height="37">
            <use href="images/sprite.svg#icon-next-arrow"></use>
          </svg>
        </button>
        <div class="swiper-pagination"></div>
        <button class="button-prev">
          <span class="sr-only">попередній коментар</span>
          <svg class="slick-icon" width="37" height="37">
            <use href="images/sprite.svg#icon-prev-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>