<section class="testimonials section">
  <div class="container">
    <h2 class="title">
      Відгуки клієнтів
    </h2>
    <div class="testimonials__slider">
      <div class="testimonials__items">
        <div class="testimonials__item">
          <img class="testimonials__avatar" src="images/avatar.jpg" alt="зображення аватуру клієнта" width="300"
            height="300">
          <div class="testimonials__content">
            <p class="testimonials__text">
              SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
              застосунок. Їхні
              доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
              -
              однозначно
              рекомендую!
            </p>
            <span class="testimonials__name">
              Дарина
            </span>
            <span class="testimonials__user-descript">
              Поціновувачка смачної їжі
            </span>
          </div>
        </div>
      </div>
      <div class="testimonials__items">
        <div class="testimonials__item">
          <img class="testimonials__avatar" src="images/avatar.jpg" alt="зображення аватуру клієнта" width="300"
            height="300">
          <div class="testimonials__content">
            <p class="testimonials__text">
              SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
              застосунок. Їхні
              доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
              -
              однозначно
              рекомендую!
            </p>
            <span class="testimonials__name">
              Дарина
            </span>
            <span class="testimonials__user-descript">
              Поціновувачка смачної їжі
            </span>
          </div>
        </div>
      </div>
      <div class="testimonials__items">
        <div class="testimonials__item">
          <img class="testimonials__avatar" src="images/avatar.jpg" alt="зображення аватуру клієнта" width="300"
            height="300">
          <div class="testimonials__content">
            <p class="testimonials__text">
              SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
              застосунок. Їхні
              доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
              -
              однозначно
              рекомендую!
            </p>
            <span class="testimonials__name">
              Дарина
            </span>
            <span class="testimonials__user-descript">
              Поціновувачка смачної їжі
            </span>
          </div>
        </div>
      </div>
      <div class="testimonials__items">
        <div class="testimonials__item">
          <img class="testimonials__avatar" src="images/avatar.jpg" alt="зображення аватуру клієнта" width="300"
            height="300">
          <div class="testimonials__content">
            <p class="testimonials__text">
              SimpleFood - одна з найкращих служб доставки продуктів з ресторанів у місті. Дуже зручний сайт та
              застосунок. Їхні
              доставники дуже ввічливі та пунктуальні. Компанія часто проводить акції та дарує знижки на доставку
              -
              однозначно
              рекомендую!
            </p>
            <span class="testimonials__name">
              Дарина
            </span>
            <span class="testimonials__user-descript">
              Поціновувачка смачної їжі
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>